
/*Main Banner*/

.lufaBanner {
	display: flex;
	border: 2px solid black;
}

/*Top Header*/
.top-header {
	font-size: 13;
	font-family: fantasy;
	color: slategrey;
	background-color: whitesmoke;
	text-align: left;
}


/* Navigation Styling */

.navbar {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	background-color: #333;
	padding: 7px;
}

ul.navbar li {
}

ul.navbar a {
	color: darkgrey;
	text-decoration: none;
	font-size: 1.4em;
}


.navbar a:hover {
	background-color: white;
}

.active {
	background-color: white;
}

/* BLOG TITLE */

.blog-title {
	float: left;	
}

/*FOOTER*/

footer {
	background-color: lightgrey;
	display: inline-block;
}
.left-footer {
	float: left;
}
.right-footer {
	float: right;
}










