
/*Main Banner*/

img {
	text-align: center;
		border-width: 3px;
	border-color: blue;
}

/*Top Header*/
h3 {
	font-size: 11;
	font-family: fantasy;
	color: black;
	background-color: whitesmoke;
	text-align: left;
}


/* Navigation Styling */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
	border-right: 1px solid white;
}

a {
	display: block;
	padding: 12px 14px;;
	text-align: center;
	color: darkgrey;
	text-decoration: none;
}

li a:hover {
	background-color: white;
}

.active {
	background-color: white;
}