/* Button Height Query */

@media (min-width: 767px) {
.menu {
	height: 146px;
	font-size: 1.8em;
}
	
}


/* Nav Buttons  */

a.btn-group {
	margin-top: 25px;
}


.jumbotron {
	color: white;
	background: rgb(98, 40, 149);
}


/* Home page button color adjustments */

.btn-fe {
	background: rgb(98, 56, 149);
	color: white;
}

.btn-fe:hover {
	background: rgb(98, 40, 149);
	color: white;
}

.btn-rev {
	background: rgb(13, 61, 31);
	color: white;
}

.btn-rev:hover {
	background: rgb(13, 75, 31);
	color: white;
}

.btn-ac {
	background: rgb(7, 75, 28);
	color: white;
}

.btn-ac:hover {
	background: rgb(7, 89, 28);
	color: white;
}

.btn-nw {
	background: rgb(106, 19, 0);
	color: white;
}

.btn-nw:hover {
	background: rgb(120, 19, 0);
	color: white;
}

/* About Page */

.cont-bord {
	border: solid 2px;
}

