/**** 
		Need to center all content in browser windwo
	

***/


.leagues-links,
.pickup-links,
.club-links,
.pro-links {
	display: none;
	list-style: none;
	text-decoration: none;
	padding; 0;
	margin: 0;
	
}

.wrapper {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	align-content: center;
	max-width: 960px;
	border: 1px solid mistyrose;
}

.play-type {
	display: flex;
	padding: 0;
	margin: 1% 1%;
	width: 48%;	
	height: 48%;
	color: lightblue;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	justify-content: center;
	-webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
}



 /***  Resive background images for PerfOp ***/


.leagues {
	background-image: url(league-scale.png);
	
}

.pickup {
	background-image: url(pickup.jpg);
}

.club-teams {
	background-image: url(club-teams.jpg);
}

.pro-teams {
	background-image: url(revolution-team.jpg);
}